In [1]:
a=input("美金")
b=float(a)*30.5 
print("{}折合台幣是{}".format(a,b))

美金20
20折合台幣是610.0

In [8]:
def say_hi(place,name):
    message="hi ,{}who is from{} ".format(name,place)
    return(message)

In [ ]:
message= " "
while message !=  "bye":
     message=input(">>")
print("hug")

In [ ]:
messenge = input('>>')
while messenge != '神經病':
    print('87')
    messenge = input('>>')
print('你才神經病，你全家都神經病')

In [7]:
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
data=pd.DataFrame(np.random.randn(3,4),columns=list("abcd"))

In [10]:
data

          a         b         c         d
0  0.162623 -0.667738 -0.423312 -1.003274
1  3.334105 -1.622628  0.766462 -0.354672
2  1.055493  0.633211 -0.919865 -1.290633

In [18]:
data.loc[:,"a":"b"]

          a         b
0  0.162623 -0.667738
1  3.334105 -1.622628
2  1.055493  0.633211

In [19]:
data[["a","b"]].values

array([[ 0.16262265, -0.66773814],
       [ 3.33410503, -1.62262786],
       [ 1.05549287,  0.63321099]])